<!DOCTYPE html>

<head>

<title>Taxonomy explorer</title>
<style>
{% include 'style.css' %}
</style>

</head>

<body>

{% include 'nav.html' %}

<h1>Taxonomy explorer</h1>

<p>
	This is an application to explore the taxonomic classification (scientific names) of various species. 
	Browse the taxonomical tree starting from the root node. The entry for each displays name, rank and if available a url to 
	an image. Navigation links up are provided, as well as a breadcrumb menu for the full path from root node to current node.
</p>

<p>
	The search feature has two fields, the first is the species name and the second optional field supplies the category
	(example: species).

	See for example <a href="search/?text=+fun&cat=kingdom&url=">this</a>, <a href="search/?text=+felis&cat=&&url=">this</a>,
	etc.
</p>

<p>
	todo: add some interesting stats and graphs about the dataset
</p>

</body>

</html>
