<div class="nav">
<div>
<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/1/">Browse</a></li>
	<li><a href="/random/">Random</a></li>
	<li style="float:right;">
	<form action="/search" method="get">
		<input type="text" name="text" value="{% if GET.text %}{{ GET.text}}{% endif %}"/>
		<input type="text" name="cat" value="{% if GET.cat %}{{ GET.cat }}{% endif %}"/>
		<input type="hidden" name="url" id="url" />
		<input type="submit" value="Search" />
	</form>
	</li>
</ul>
</div>
<!--<br />-->
</div>
<div class="reg">
{% if user.is_authenticated %}
	<a href="#" {% if req.style %} style="{{ req.style }}" {% endif %}>{{ user.username }}</a> / <a href="/logout">Logout</a>
{% else %}
	<a href="/register">Register</a> / <a href="/login">Login</a>
{% endif %}
</div>

<!--{% if user.is_authenticated %}<h3>{{ user.username }}</h3> {% endif %}-->
<!--</div>-->
